{% extends 'base.html' %}

{% block content %}


{% for cat, documents in documents_by_category.items %}
<div class="w3-content w3-container w3-padding-64" id="{{ cat.title }}">
  <h2 class="w3-center">{{ cat.title }}</h2>
  <center> <p>{{ cat.description }}</p> </center>

  <table class="w3-table w3-striped w3-bordered">
    <tbody><tr>
      <th colspan="2" class="w3-center"> {{ cat.libele }}</th>
      <th style="text-align: center;"> Documents </th>
      {% if cat.corrections %}
      <th style="text-align: center;">Corrections</th>
      {% endif %}
    </tr>
    <tr>
      {% for doc,corr in documents %}
      <td>{{ forloop.revcounter }}</td>
      <td>{{ doc.title }}</td>
      <td style="vertical-align:middle; horizontal-align:middle; text-align: center;"><a href="/media/{{ doc.fichier }}"><span class="icon-pdf"></span> </a></td>
      {% if cat.corrections %}
      {% if corr != 'N/A' %}
      <td style="vertical-align:middle; horizontal-align:middle; text-align: center;"><a href="/media/{{ corr.fichier }}"><span class="icon-pdf"></span> </a></td>
      {% else %}
      <td style="vertical-align:middle; horizontal-align:middle; text-align: center;"><a href=""> </a></td>
      {% endif %}
      {% endif %}
      
    </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

{% endblock %}