{% extends 'base.html' %}

{% block image %}
<span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity w3-hide-small">
    MP2I CHAMPOLLION
</span>
<span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ERREUR 404</span>
<br>
<center>
    <span class="w3-center w3-padding w3-black w3-xlarge w3-wide w3-animate-opacity">
        <a href = "/">Retour <span class="w3-hide-small">au site</span>
        </a>
    </span>
</center>
{% endblock %}