{% extends 'base.html' %}

<!-- Titre et description pour moteurs de recherche  -->
{% block title %}La Physique en MP2I au lycée Champollion{% endblock %}
{% block description %}Retrouvez tous les cours et TD de Physique abordés durant l'année, en MP2I à champo.{% endblock %}

<!-- Barre de navigation  -->
{% block navigation %}
{% for cat, documents in documents_by_category.items %}
<a href="#{{ cat.title }}" class="w3-bar-item w3-button w3-hide-small">{{ cat.title }}</a>
{% endfor %}
<a href="/chimie/" class="w3-bar-item w3-button w3-hide-small w3-right">Chimie&ensp;<i class="fas fa-flask"></i> </a>
{% endblock %}

<!-- Titre de la page -->
{% block image %}
<span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
  MP2I <span class="w3-hide-small">CHAMPOLLION</span><span class="w3-hide-large w3-hide-medium">CHAMPO</span>
</span>
{% endblock %}

<!-- Contenu de la page  -->
{% block content %}
{% if user.is_authenticated %}
<header class="w3-container w3-center w3-padding-32"> 
  <h3> Bonjour, <b> {{ user.first_name }}</b> !</h3>
  <em>Accédez à vos services d'administration</em>
  <p> 
    <!-- Bouton bleu  -->
    <button class="w3-button w3-white w3-border w3-border-blue w3-pale-blue" onclick="window.location.href='/stats';">
      <span class="w3-text-blue">
        <i class="fa-solid fa-chart-simple"></i> &nbsp Statistiques
      </span>
    </button>

    <!-- Bouton vert  -->
    <button class="w3-button w3-white w3-border w3-border-green w3-pale-green" onclick="window.location.href='/admin';">
      <span class="w3-text-green">
        <i class="fa-solid fa-screwdriver-wrench"></i> &nbsp Administration
      </span>
    </button>
  </p>
</header>
     
{% endif %}
<!-- Début d'une catégore -->
{% for cat, documents in documents_by_category.items %}
  <div class="w3-content w3-container w3-padding-64" id="{{ cat.title }}">
  <h2 class="w3-center">{{ cat.title }}</h2>
  <center> <p>{{ cat.description }}</p> </center>

<!-- Début du tableau -->
  <table class="w3-table w3-striped w3-bordered">
    {# <!-- id et max sont utilisés pour les requêtes ajax -->  #}
    <tbody id="{{ cat.pk }}" max="{{cat.nombre_affichage}}">
      <!---------- entête ------------>
      <tr>
        <th ><i class="fa-solid fa-sort sort"></i></th>
        {% for h in cat.get_head %}
          {% if forloop.first %}
            <th colspan="1" class="w3-center"> {{ h }}</th>
          {% else %}
            <th style="text-align: center;"> {{ h }}  </th>
          {% endif %}
        {% endfor %}
      </tr>
      <!-- /entête -->
      {% if user.is_authenticated %}
      {% include "add-file.html" with id=cat.pk colonnes=cat.colonnes app="physique"%}
      {% endif %}
      <tr>
        {% for doc in documents %}
          <td>{{ forloop.revcounter }}</td>
          <td>{{ doc.title }}</td>
          {% for link in doc.split %}
          {# <!-- On traite le cas ou il n'y pas de fichier pour ne pas display le svg pdf -->  #}
            {% if link != '' %}
              <td style="vertical-align:middle; horizontal-align:middle; text-align: center;"><a href="cours/?fichier={{ link }}&cat={{ cat.pk }}"><span class="icon-pdf"></span> </a></td>
            {% else %}
              <td style="vertical-align:middle; horizontal-align:middle; text-align: center;"><a href=""> </a></td>
            {% endif %}
          
          {% endfor %}
      </tr>
      {# <!-- Bouton Afficher plus pour ajax (cf mon.js action pour la class display-more) -->  #}
        {% if forloop.counter == cat.nombre_affichage %}
      <tr>
        <td colspan='{{ cat.colonnes|add:"2" }}'>
          <button class="w3-button w3-block display-more">Afficher plus <i class="fa fa-caret-down"></i></button>
        </td>
      </tr>
        {% endif %}
        {% empty %}
          <!-- Cas particulier ou il n'y a pas de fichiers dans cette catégorie -->
          <tr>
            <td colspan='{{ cat.colonnes|add:"2" }}' class="w3-center">
              Aucun fichier pour le moment, rendez-vous en septembre.
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}



{% if user.is_authenticated %}
<script>
  // fermer une page d'édition
  function close_edit(elt) {
    var cat = elt.parents('tbody').eq(0).attr("id");
    $('.edit-mode-' + cat).toggleClass('w3-hide');
    $('#add-more-'+cat).toggleClass('w3-hide');
  }

  $('.add-more').on('click', function () {
    var cat = $(this).parents('tbody').eq(0).attr("id");
    $('.edit-mode-' + cat).toggleClass('w3-hide');
    $(this).parents('tr').eq(0).toggleClass('w3-hide');
  })

  $('.close').on('click', function () {
    close_edit($(this))
  })

  // permet d'afficher le chargement et on retourne a la normale dans la fonction unpload
  function save_btn(btn) {
    btn.html('<span class="w3-text-orange"> Enregistrement <i class="fa-solid fa-spinner fa-spin-pulse"></i></span>');
    td = btn.parent('td');
    td.removeClass("w3-border-blue w3-pale-blue");
    td.addClass("w3-border-orange w3-pale-yellow");
  }
  
function previewFile(input){
    var file = input.files[0];
    var label = $(input).parent().find('label');
    if(file){
        label.html('<span class="icon-pdf"></span> <p> '+file.name+'</p>');
    }
    else{
      label.html('<i class="fa-solid fa-file-circle-plus fa-2xl"></i>');
    }
}

// requête ajax pour unpload des fichiers
function unpload(form, formName, nbfiles) {
  $.ajax({
    method: 'POST',
    url: "/core/ajax/add",
    processData: false,
    contentType: false,
    mimeType: "multipart/form-data",
    data: form,
    success: function (response) {
      
      var responseObject = JSON.parse(response);

      close_edit($(formName));
      // On reset le form
      $(formName)[0].reset()
      var fm = $(formName).siblings('tr').eq(2);
      // pour l'affichage des logo pdf
      for (let i = 0; i < nbfiles; i++) {
        fm.find('input[type="file"]').each(function (index) {
          previewFile(this);
        })
      }
      // On reset le bouton
      var enrg = $(formName).siblings('tr').eq(3).find("td");
      enrg.removeClass("w3-border-orange w3-pale-yellow");
      enrg.addClass("w3-border-blue w3-pale-blue");
      // On remet l'html qui était pas défaut voir dans add-file.html
      enrg.find('button').eq(0).html('<span class="w3-text-blue">Enregistrer <i class="fa-solid fa-check"></i>');
      
      // On ajoute la nouvelle entrée dans le tableau
        $("<tr><td>/</td><td>"+responseObject['title']+"</td></tr>").insertAfter($(formName).siblings('tr').eq(3))
      },
    error: function (error){
      console.log(error);
    }, 
  })
}
</script>
{% endif %}

{% endblock %}