{% load static %}
<html lang="en">
<head>
  <title>Doc</title>
  <meta name="description" content="{% block description %}{% endblock %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta description="Le site des mathématiques et de l'informatique en MP2I  au lycée Champollion. Cours/TD/devoirs.">
    
    <!---- CSS ---->
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <!-- kit fontawesome -->
        <script src="https://kit.fontawesome.com/71d53a212d.js" crossorigin="anonymous"></script>
</head>
<body>
  <form id="myForm-{{id}}" method="POST">
    <!-- Prtoection contre les attaques csrf -->
{% csrf_token %}
<!-- Categorie des fichiers a ajouter -->
<input type="hidden" name="cat" value="1">
<!-- Nombre de fihciers -->
<input type="hidden" name="nbfiles" value="{{ colonnes }}">
  <!-- Bouton pour fermer la fenetre -->
  <td class="close"><i class="fa-solid fa-xmark"></i></td>
  
  <!-- Titre du champ -->
  <td><input class="w3-input w3-border" name="title" type="text"></td>
  <!-- Champs pour les fichiers -->
  <label for="file-input-2-chap18_mvt_solide_cours.pdf"><span class="icon-pdf"></span> <p> file 1</p></label>
  <input id="file-input-2-chap18_mvt_solide_cours.pdf" name="b" onchange="previewFile(this);" type="file" data-gtm-form-interact-field-id="2">

  <label for="file-input-2-"><span class="icon-pdf"></span> <p> File 2</p></label>
  <input id="file-input-2-" name="a" onchange="previewFile(this);" type="file" data-gtm-form-interact-field-id="3">
        
        <!-- Submit button -->
    <button class="w3-button w3-block save" type="submit">
      <span class="w3-text-blue">
        Enregistrer <i class="fa-solid fa-check"></i>
      </span>
    </button>
</form>

  <!-- JQuery Code -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
function unpload(form, formName, nbfiles) {
  $.ajax({
    method: 'POST',
    url: "/ajax/add",
    processData: false,
    contentType: false,
    mimeType: "multipart/form-data",
    data: form,
    success: function (response) {
      var responseObject = JSON.parse(response);

      close_edit($(formName));
      // On reset le form
      var fm = $(formName).siblings('tr').eq(2);
      fm.find("td").eq(1).find('input[name="title"]').val('');
      for (let i = 0; i < nbfiles; i++) {
        fm.find('td').eq(2+i).html('<label for="file-input-'+responseObject['pk']+'-'+i.toString()+'"><i class="fa-solid fa-file-circle-plus fa-2xl"></i></label><input id="file-input-'+responseObject['pk']+'-'+i.toString()+'" name="'+i.toString()+'" onchange="previewFile(this);" type="file" />');
      }
      // On reset le bouton
      var enrg = $(formName).siblings('tr').eq(3).find("td");
      enrg.removeClass("w3-border-orange w3-pale-yellow");
      enrg.addClass("w3-border-blue w3-pale-blue");
      // On remet l'html qui était pas défaut voir dans add-file.html
      enrg.html('<button class="w3-button w3-block save" type="submit"> <span class="w3-text-blue">Enregistrer <i class="fa-solid fa-check"></i> </button>');
    },
    error: function (error){
      console.log(error);
    }, 
  })
}

      $(document).ready(function() {
  $('#myForm-{{id}}').on('submit', function(event) {
    event.preventDefault();
    //On vérifie que le champ titre n'est pas vide
    var fm = $('#myForm-{{id}}').siblings('tr').eq(2);
    if (fm.find("td").eq(1).find('input[name="title"]').val() == ''){
      fm.find("td").eq(1).append( '<span class="w3-text-red">Veuillez ajouter un titre !</span>' )
    }
    else{
      
      var form = document.getElementById('myForm-{{id}}');
      var formData = new FormData(form);
      unpload(formData, '#myForm-{{id}}', 1);
    }
  });
});
  </script>

</body>
  </html>